<div class="container">
    <form class="form-horizontal" [formGroup]="testCase.newTestCase">
        <fieldset>
            <div class="form-group">
                <label for="inputFullQualifiedClassName" class="col-lg-2 control-label">Fully Qualified Class Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputFullQualifiedClassName" name="inputFullQualifiedClassName"
                           placeholder="Full Qualified Class Name"
                           autofocus formControlName="fullQualifiedClassName" required>
                    <div class="alert alert-danger"
                         *ngIf="testCase.newTestCase.controls['fullQualifiedClassName'].touched && testCase.newTestCase.controls['fullQualifiedClassName'].hasError('required')">
                        Fully Qualified Class Name
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputTestClassName" class="col-lg-2 control-label">Test Class Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputTestClassName" name="inputTestClassName"
                           placeholder="Test Class Name"
                           autofocus formControlName="testClassName" required>
                    <div class="alert alert-danger"
                         *ngIf="testCase.newTestCase.controls['testClassName'].touched && testCase.newTestCase.controls['testClassName'].hasError('required')">
                        Test Class Name
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputAssertionMethod" class="col-lg-2 control-label">Assertion Method</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputAssertionMethod" name="inputAssertionMethod"
                           placeholder="Assertion Method"
                           autofocus formControlName="testCases.assertionMethod" required>
                    <div class="alert alert-danger"
                         *ngIf="testCase.newTestCase.controls['testCases'].control['assertionMethod'].touched && testCase.newTestCase.controls['testCases'].control['assertionMethod'].hasError('required')">
                        Assertion Method
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>