<div class="container">
    <div class="row">
        <div class="col">
            <h4 [innerText]="classSchema.fullyQualifiedClassName"></h4>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Methods</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let method of classSchema.methods">
                <td>
                    <span routerLink="/test-class/{{classSchema.fullyQualifiedClassName}}/{{method.objectId}}/new" [innerText]="method.methodName"></span>(<span *ngFor="let parameter of method.parameters; index as i">{{parameter.parameterClassName + " param" + (i+1)}}<span *ngIf="(i + 1) < method.parameterCount">, </span></span>)
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>