<div class="container">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Class name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let classSchema of classSchemas">
                <td><span [innerText]="classSchema.fullyQualifiedClassName"></span></td>
                <td><button class="btn btn-primary" routerLink="/class-schema/{{classSchema.fullyQualifiedClassName}}">View Methods</button></td>
            </tr>
        </tbody>
    </table>
</div>